flask==3.0.3
bootstrap-flask==2.3.3
moviepy==1.0.3
mediapipe==0.10.14
librosa==0.10.2.post1
numpy==1.26.4
whisper==1.1.10
google-generativeai==0.7.2
pyyaml==6.0.2
python-dotenv==1.0.1
python-docx==1.1.2
python-magic==0.4.27  